@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Pushster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Pushster", cursive;
}
p {
  font-family: "PT Sans", sans-serif;
}
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}

.section1 {
  background-image: url("./../images/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.logo {
  padding: 10px 0;
}
.studio {
  padding-top: 60px;
}
.anchor {
  position: absolute;
  bottom: 20px;
}
#about,
.service {
  padding: 50px 0;
  height: 50vh;
}
.service {
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: cover;
  color: white;
  width: 100%;
}

.hide-content,
.hide-content1,
.hide-content2 {
  display: none;
}
.project-name {
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.281);
  width: 100%;
  display: none;
  transition: all 0.15s ease;
}
.project-title {
  padding: 50px 5px;
  color: rgba(216, 231, 226, 0.788);
  background-color: rgba(255, 255, 255, 0.37);
  border: 4px solid whitesmoke;
  margin: 15% 10%;
  overflow: hidden;
}
.col-md-3 {
  padding-bottom: 1.5em;
}

.form {
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: cover;
  padding: 5% 15%;
}

input[type="text"],
input[type="email"] {
  background: transparent;
  color: rgba(255, 255, 255, 0.219);
}
textarea[type="text"] {
  background: transparent;
  color: white;
}

.submit {
  position: absolute;
  padding-left: 25%;
}
.social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px 0;
}
.social-icons > a:hover {
  border-radius: 50%;
  border: 2px solid yellow;
}
